
//Fonts
$font-main: 'Nunito Sans', sans-serif;
//Colors
$color-main-text: #676c75;
$color-note-text: #999ea8;
$color-border: #e7e8ea;
$color-title: #282b31;
$color-link: #469af4;


@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800');